@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Roboto:wght@300&display=swap");
/*TITULOS------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Roboto:wght@300&display=swap");
h1 {
  color: #11bd3c;
  font-family: "Bebas Neue";
  text-align: center;
  font-size: 40px;
  margin-top: 1em;
  transition: all 1s; }

h2 {
  color: #36af54;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  margin-top: 2em;
  margin-left: 2em; }

h3 {
  color: #36af54;
  font-size: 25px;
  font-family: 'Bebas Neue', cursive;
  margin-top: 2em;
  margin-left: 2em; }

h4 {
  color: black;
  font-family: 'Bebas Neue', cursive;
  font-size: 35px; }

h5 {
  color: #11bd3c;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px; }

/*PARRAFOS----------------------------------------------------------*/
p {
  color: white;
  font-size: 20px;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif; }

/*CUERPO-------------------------------------------------------------*/
.header ul {
  z-index: 0; }

body {
  background-color: #333232;
  opacity: 1; }

/*INDEX---------------------------------------------------------------*/
#header {
  position: relative;
  z-index: 50; }

.presentacion {
  display: flex;
  border: solid #11bd3c;
  height: 25%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 5px 5px 50px #3ff1578f;
  transition: height 0s, width 0s; }

.contenedor {
  margin: 1em;
  width: auto; }

.contenedor__subtitulo {
  color: #36af54;
  font-size: 25px;
  font-family: 'Bebas Neue', cursive;
  margin-top: 2em;
  margin-left: 2em; }

.contenedor__desarrollo, .margen__p, .infoCorrecta {
  color: white;
  font-size: 20px;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  margin-left: 2em;
  margin-right: 2em; }

.fotosMuestra {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.fotosMuestra__img {
  width: 70%;
  margin-left: 10%; }

.tamaniovideo {
  margin-top: 3em; }

.tamaniovideo__video, .intro {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.divGrad, .promos, .redes {
  background-image: linear-gradient(to bottom right, #3ff156, #88bd88);
  height: 100px;
  color: black;
  line-height: 100px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  margin-top: 3em;
  margin-bottom: 3em;
  vertical-align: middle; }

div.card-group {
  display: flex;
  margin-left: 5em;
  margin-right: 5em;
  border: solid 1em #11bd3c;
  color: black; }

div.card-body {
  background-color: black; }

#text {
  color: black;
  font-family: 'Bebas Neue', cursive;
  font-size: 15px; }

/*QUIENES SOMOS------------------------------------------------------*/
.imagen__center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  justify-content: space-evenly; }

/*GALERIA------------------------------------------------------------*/
div.videoGaleria {
  display: flex; }

div.row {
  margin-left: 10em;
  margin-right: 3em; }

.paraMasOnda {
  margin-bottom: 3em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: black;
  overflow: hidden; }

.paraMasOnda__item, .redes__item {
  text-decoration: none;
  color: black; }

/*PROMOCIONES------------------------------------------------------*/
table {
  border: 3px solid;
  width: 50%;
  margin-left: 25%;
  text-align: center; }

th {
  background-color: #25c54d;
  border: 1px solid;
  height: 50px;
  color: black; }

td {
  border: 1px solid white;
  color: white; }

.slidePromo {
  height: 50%;
  width: 75%;
  margin-left: 10%; }

#ofrecemos {
  height: auto;
  width: auto;
  background-color: #333232;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 3em;
  flex-wrap: wrap;
  align-items: center;
  line-height: 100%; }

.tiposClases {
  height: 80px;
  width: 200px;
  background-color: black;
  text-align: center;
  line-height: 100%;
  border: #3ff156 solid;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 50px #3ff1578f;
  transition: height 0s, width 0s; }

.tiposClases:hover {
  height: 100px;
  width: 250px; }

/*BLOG--------------------------------------------------------------*/
/*CONTACTO-----------------------------------------------------------*/
input {
  width: 40%; }

input[type=text] {
  padding: 10px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px; }

label {
  color: #11bd3c;
  font-size: 20px;
  font-family: 'Roboto', sans-serif; }

input [type=checkbox] {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 4px; }

input[type="submit"] {
  width: 100px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  background-color: #11bd3c; }

input[type="reset"] {
  width: 100px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  background-color: #11bd3c; }

ul {
  list-style: none;
  background-color: #3ff156;
  padding: 0;
  overflow: hidden;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center; }

li a:hover {
  background-color: black;
  color: white; }

li {
  color: black;
  font-size: 30px;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive; }

nav {
  text-align: center; }

header {
  height: 220px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center; }

header img {
  height: 134px;
  width: 444px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1em; }

header ul {
  position: relative;
  z-index: 50; }

footer {
  height: 100px;
  background-color: #333232;
  opacity: 1;
  color: #36af54; }

.pie {
  height: 100px;
  background-color: #333232;
  opacity: 1;
  margin-top: 3em;
  text-align: center; }

.pie__info {
  color: #36af54; }

.boton {
  background-color: #63f588;
  border: solid;
  color: black;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 14px 16px;
  border-radius: 4px;
  margin-left: 50%;
  text-decoration: none; }
