$colorFondo:  rgb(51, 50, 50);
$colorParrafos: white;
$ColorUno: rgb(17, 189, 60);
$colorDos: rgb(54, 175, 84);
$colorNav: #3ff156;
$card-border-radius: solid 1em  rgb(17, 189, 60);
$card-color: black;
